/* General guidelines*/
* {
    background-color: #020515;
    margin: 0;
    padding: 0;
    color: #85F061;
    font-family: "Quicksand", monospace;
    font-size: 1.18em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
/* Asignacion de lugares con grid*/
body {
    display: grid;
    grid-template-areas: 
        "header"
        "contenedor"
        "footer";
    min-height: 100vh;
    overflow-x: hidden; 
}
/* ------------------- HEADER-------------------*/
.header{
    grid-area: header;
}
.navtop {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}
.navtop > div {
    display: flex;
    border: #829a7a solid 2px;
    padding: 10px 50px;
    text-align: center;
    font-size: 0.6em;
    line-height: 1.5;
    justify-content: center;
    align-items: center; 
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;

}
.navtop > div:hover {
    transform: translateY(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    opacity: 0.8; 
    cursor: pointer;
}
.navtop .logo {
    grid-column:4 / 5;
}
.navtop .navInicio {
    grid-column:6 / 7;
}
.navtop .navInfo {
    grid-column:7 / 8;
}

.navtop .navUsos {
    grid-column:8 / 9;
}

.navtop .navGallery {
    grid-column:9 / 10;
}

.navtop .navlog {
    grid-column:12 / 13;
}

.navtop .navregister {
    grid-column:13/ 14;
}

/* ------------------- CONTENEDOR-------------------*/

.contenedor{
    grid-area: contenedor;
    display: grid;
}

/* ------------------- FOOTER-------------------*/

.footer{
    grid-area: footer;
}

/* ------------------- MEDIA QUERY-------------------*/

@media screen and (max-width: 1280px) {
    .navtop .logo,
    .navtop .navInicio,
    .navtop .navInfo,
    .navtop .navUsos,
    .navtop .navGallery,
    .navtop .navlog,
    .navtop .navregister {
        max-width: 20px; /* maximo ancho de los div en el header*/
    }
}

@media screen and (max-width: 850px) {
    .navtop {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr)); /* Ajusta las columnas automáticamente */
        padding: 10px; /* Espacio interior del navbar */
    }

    /* Oculta los elementos navUsos y navGallery */
    .navtop .navUsos,
    .navtop .navGallery {
        display: none;
    }
    .navtop .logo {
        grid-column:1 / 2;
    }
    .navtop .navInicio {
        grid-column:2 / 3;
    }
    .navtop .navInfo {
        grid-column:3 /4;
    }  
  
    .navtop .navlog {
        grid-column:4 / 5;
    }
    
    .navtop .navregister {
        grid-column:5/ 6;
    }




}