@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

/* Asignacion de lugares con grid*/
body {
    display: grid;
    grid-template-areas: 
        "header"
        "contenedor"
        "footer";
    min-height: 100vh;
    overflow-x: hidden; 
    background-color: #ffe8d6;
    margin: 0;
    padding: 0;
    color: #000000;
    font-family: "Roboto", monospace;
    font-size: 1.18em;
}
/* ------------------- HEADER-------------------*/
.header{
    grid-area: header;
    margin-bottom: 40px;
}
.navtop {
    display: grid;
    margin-top: 12px;
    grid-template-columns: repeat(16, 1fr);
    font-size: 1.7em;
}
.navtop > div {
    display: flex;
    padding: 10px 40px;
    text-align: center;
    font-size: 0.6em;
    line-height: 1.5;
    justify-content: center;
    align-items: center;
    background-color: #ffd8ba;  
    border-radius: 20px;
    transition: transform 0.4s ease, box-shadow 0.3s ease, opacity 0.3s ease;
}
.navtop > div:hover {
    transform: translateY(5px);
    opacity: 0.8; 
    border: #09145c8b solid 2px;
    cursor: pointer;
}
.navtop .logo {
    grid-column:4 / 5;
}
.navtop .navInicio {
    grid-column:6 / 7;
}
.navtop .navInfo {
    grid-column:7 / 8;
}

.navtop .navUsos {
    grid-column:8 / 9;
}

.navtop .navGallery {
    grid-column:9 / 10;
}

.navtop .navlog {
    grid-column:12 / 13;
}

.navtop .navregister {
    grid-column:13/ 14;
}

/* ------------------- CONTENEDOR-------------------*/

.contenedor{
    grid-area: contenedor;
    display: grid;
    grid-template-areas: "rowmid" "rowcenter";
    grid-gap: 40px;
}
.rowmid{
    grid-area: rowmid;
    margin-bottom: 2%;
}
.landingcontainer  {
    display: grid;
    grid-template-areas: 
        "landing imagen"    
        "landing imagen"
        "button imagen";
}
.rowmid .landingcontainer .landingtitle {
    grid-area: landing;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center;  

}
.titulop {
    font-size: 2.6rem;
    margin-top: 25px;
    margin-left:10%; 
    font-family: "Roboto", monospace;
    font-style: normal; 
    line-height: 85%; 
    display: flex;
    align-items: left; 
    justify-content: left;
    max-width: 800px;
    font-weight: bold; 
    text-transform: uppercase;
    color: #000000;
    height: 100%;

}
.subtitulo {
    margin-left:10%; 
    font-size: 1.6rem;
    color: #403d39;
    display: flex;
    align-items: left; 
    text-align: left;  
    justify-content: left;     
}
/* ------------------------------IMAGENES DEL LANDING ------------------------------*/
.rowmid .landingcontainer .imagenlanding {
    grid-area:imagen;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
  }  
  .imagenlanding img {
    width: 100%;
    height: auto;
    transition: opacity 0.5s, transform 0.5s;
  } 
   .transparent-left {
    opacity: 0.2;
    transform: translateX(10%);
  }
  
  .center {
    opacity: 1;
    transform: translateX(0);
  }
  
  .transparent-right {
    opacity: 0.2;
    transform: translateX(-10%);
  }
  .rotate-in {
    animation: rotateAnimation 0.2s ease-in-out;
}

    @keyframes rotateAnimation {
        0% {
            transform: rotateY(-180deg);
        }
        100% {
            transform: rotateY(0deg);
        }
    }
/* ------------------------------ BOTON ------------------------------*/

.rowmid .landingcontainer button {
    grid-area: button;
    padding: 10px 20px; 
    background-color: #DF711B; 
    color: #403d39; 
    border: none; 
    border-radius: 5px; 
    font-size: 1.4rem; 
    cursor: pointer; 
    transition: background-color 0.3s ease;   
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 45%;
    margin-bottom: 10%;
}
.rowmid .landingcontainer button:hover {
    background-color: #ca6702;
    transform: translateY(-3px) scale(1.05); 
}
/* ------------------- ROWCENTER------------------------------------------------------*/
.main-container {
    grid-area: rowcenter;
}

.note-live-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    max-width: 1000px;
    margin: 0 auto;
    

}

.note-live-card {
    border-radius: 10px;
    padding: 2rem; /* Utilizando rem para el padding */
    transition: transform 0.3s;
    opacity: 1;
    border: 0.1px solid #cccccc1d; /* Borde gris claro */

}

.note-live-card:hover {
    transform: scale(1.05);
    opacity: 2;
}

.note-live-card h2,
.note-live-card h3 {
    margin-bottom: 1rem; /* Utilizando rem para el margen */
    font-size: 1.2rem; 
}

.large {
    grid-column: span 2;
}

.medium,
.small {
    grid-column: span 1;
}
/* Estilos para las tarjetas grandes (large) con color claro */
.note-live-container .note-live-card.large {
    /* Color claro relacionado con #020515 */
    color: #000000; /* Color de texto claro para mayor legibilidad */
    background-image: linear-gradient(to top, #eef3bd, #f7a072); /* Desvanecido de crema a color de caja */
    border: 2px solid black; /* Borde negro de 2px */

}

/* Estilos para las tarjetas medianas (medium) con color oscuro */
.note-live-container .note-live-card.medium {
    background-image: linear-gradient(to top, #eef3bd, #f7a072); /* Desvanecido de crema a color de caja */
    color: #000000; /* Color de texto claro para mayor legibilidad */
    border: 2px solid black; /* Borde negro de 2px */

}

/* Estilos para las tarjetas pequeñas (small) con color claro */
.note-live-container .note-live-card.small {
    background-image: linear-gradient(to top, #eef3bd, #f7a072); /* Desvanecido de crema a color de caja */
    color: #000000; /* Color de texto claro para mayor legibilidad */
    border: 2px solid black; /* Borde negro de 2px */

}


/* Consulta de medios para pantallas de hasta 800px (tablets, celulares en horizontal) */
@media screen and (max-width: 1050px) {
    .note-live-container {
        grid-template-columns: repeat(auto-fit, minmax(20em, 1fr)); /* Ajustando el ancho mínimo de las tarjetas */
        gap: 2em; /* Utilizando em para el espacio entre tarjetas */
        max-width: 100%; /* Ajustando el ancho máximo del contenedor */
    }
    .rowmid .landingcontainer button {
        transform: translate(50%, 250%);
    }
    
    .note-live-card {
        padding: 2em; /* Utilizando em para el padding */
        max-width: 100%; /* Ajustando el ancho máximo de las tarjetas */
        box-sizing: border-box; /* Manteniendo el ancho total dentro del padding y el borde */
    }

    .note-live-container {
        grid-template-columns: repeat(auto-fit, minmax(15em, 1fr)); /* Ajustando el ancho mínimo de las tarjetas */
        gap: 1em; /* Utilizando em para el espacio entre tarjetas */
    }

    .note-live-container {
        grid-template-columns: 1fr;
        gap: 1em; /* Utilizando em para el espacio entre tarjetas */
    }

    .note-live-card {
        padding: 1em; /* Utilizando em para el padding */
    }

    .note-live-card h2,
    .note-live-card h3 {
        font-size: 1.1em; /* Utilizando em para el tamaño de fuente */
    }
}

.additional-features {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .plan {
    flex: 1 1 300px;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: transform 0.3s ease-in-out;
  }
  
  .plan:hover {
    transform: translateY(-10px);
  }
  
  .plan h3 {
    margin-top: 0;
  }
  
  .plan ul {
    list-style: none;
    padding: 0;
  }
  
  .plan ul li {
    margin-bottom: 10px;
  }
  
  .plan-gratuito {
    background-color: #e6d3bc;
    border: 2px solid #666665; /* Borde negro de 2px */

  }
  
  .plan-gratuito:hover {
    background-color: #f8e2c8;
    background-image: linear-gradient(to top, #c5c5c4, #807e7e); /* Desvanecido de crema a color de caja */

  }
  
  .plan-premium {
    background-color: #e6d3bc;
    border: 2px solid #a38f1a; /* Borde negro de 2px */

  }
  
  .plan-premium:hover {
    background-color: #fad4a5;
    background-image: linear-gradient(to top, #fad4a5, #a59c69); /* Desvanecido de crema a color de caja */

  }
  
  .plan-empresarial {
    background-color: #e6d3bc;
    border: 2px solid #071a22; /* Borde negro de 2px */

  }
  
  .plan-empresarial:hover {
    background-image: linear-gradient(to top, #9aadbe, #436675); /* Desvanecido de crema a color de caja */
  }
  
  .plan-gratuito h3 {
    color: #666665;
  }
  
  .plan-premium h3 {
    color: #a38f1a;
  }
  
  .plan-empresarial h3 {
    color: #071a22;
  }
  


/* Estilos para Testimonios de Usuarios */
.testimonioti{
    display: flex;
    justify-content: left;
}
.testimonioti2{
    display: flex;
    justify-content: right;
    margin-right: 5%;

}
.testimonials {
    display: grid;
    padding: 50px;
    grid-gap: 60px;

    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    margin-right: auto;
    margin-left: auto;
    grid-template-areas:"testimonial1 testimonial2"
                        "testimonial1 testimonial3"
                        "testimonial4 testimonial4";

}
.testimonials .testimonial1{
    grid-area: testimonial1;
    font-size: 1.5em;  
    text-align: center;  
    display: flex;
    align-items: center;
}
.testimonials .testimonial1 .p{
    text-align: center; 
    grid-area: testimonial1;
    font-size: 1.5em;   
    
}
.testimonials .testimonial2{
    grid-area: testimonial2;
    font-size: 1.3rem;
    text-align: center;  
    display: flex;
    align-items: center;
}
.testimonials .testimonial3{
    grid-area: testimonial3;
    font-size: 1.3rem;
    text-align: center;  
    display: flex;
    align-items: center;
}
.testimonials .testimonial4{
    grid-area: testimonial4;
    font-size: 1.4rem;
    text-align: center;  
    display: flex;
    align-items: center;
}
.testimonials .testimonial1,
.testimonials .testimonial2,
.testimonials .testimonial3,
.testimonials .testimonial4 {
    background-color: #eafff1;
    color: #403d39;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}


.testimonials .testimonial1:hover,
.testimonials .testimonial2:hover,
.testimonials .testimonial3:hover,
.testimonials .testimonial4:hover {
    transform: translateY(-5px);
    background-color: #a6f6c3; /* Cambio de color al hacer hover */
}

.testimonials .testimonial p {
    font-style: italic;
}

/* Estilos para Recursos Educativos */
.educational-resources {
    background-image: linear-gradient(to bottom, #e7c899, #a57c29); /* Desvanecido de crema a color de caja */
    color: #fff;
    padding: 50px;
    /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);*/
}

.educational-resources p {
    margin-bottom: 10px;
}


/* Estilos para Soporte y Contacto */
.support-contact {
    background-color: #5baf7e; /* Color de caja diferente */
    background-image: linear-gradient(to bottom, #b5e9cb, #5baf7e); /* Desvanecido de crema a color de caja */

    color: #fff;
    padding: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.support-contact p {
    margin-bottom: 10px;
}

/* Estilos para Integraciones y Compatibilidad */
.integrations {
    background-color: #3498DB; /* Color de caja diferente */
    background-image: linear-gradient(to bottom, #78737c, #6C5B7B); /* Desvanecido de crema a color de caja */

    color: #fff;
    padding: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.integrations p {
    margin-bottom: 10px;
}

/* Estilos para Actualizaciones y Novedades */
.updates-news {
    background-color: #6C5B7B; /* Color de caja diferente */
    background-image: linear-gradient(to bottom, #7eb6db, #3498DB); /* Desvanecido de crema a color de caja */
    color: #fff;
    padding: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.updates-news p {
    margin-bottom: 10px;
}


.cuerpo{
    margin: 5%;
}

/* ------------------- FOOTER-------------------*/

.footerelements{
    grid-area: footer;
    width: 100%;
    background-color: #33333316; 
    color: #fff; 
    text-align: center;
    padding: 10px 0; 
    bottom: 0;
    position: fixed;
}
.redes-sociales {
    margin-top: 10px; 
}

.redes-sociales a {
    display: inline-block;
    margin-right: 10px; 
    color: #333; 
    font-size: 24px; 
}

.redes-sociales a:hover {
    color: #007bff; 
}
/* ------------------- MEDIA QUERY-------------------*/

@media screen and (max-width: 1280px) {
    .navtop .logo,
    .navtop .navInicio,
    .navtop .navInfo,
    .navtop .navUsos,
    .navtop .navGallery,
    .navtop .navlog,
    .navtop .navregister {
        max-width: 20px; /* maximo ancho de los div en el header*/
    }
}

@media screen and (max-width: 850px) {
    .navtop {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr)); /* Ajusta las columnas automáticamente */
        padding: 10px; /* Espacio interior del navbar */
    }

    /* Oculta los elementos navUsos y navGallery */
    .navtop .navUsos,
    .navtop .navGallery {
        display: none;
    }
    .navtop .logo {
        grid-column:1 / 2;
    }
    .navtop .navInicio {
        grid-column:2 / 3;
    }
    .navtop .navInfo {
        grid-column:3 /4;
    }  
  
    .navtop .navlog {
        grid-column:4 / 5;
    }
    
    .navtop .navregister {
        grid-column:5/ 6;
    }
}
@media screen and (max-width: 700px) {
    .navtop {
        font-size: 0.75em;
        }

}


@media screen and (max-width: 375px) {
    .navtop {
        font-size: 0.75em;
    }
    .contenedor .rowmid .imagenlanding {
        display: none;
    }
    .contenedor {
        max-width: 375px;
    }
    .header {
        max-width: 375px;    
        margin-bottom:0;
    }
    .subtitulo {
        font-size: 0.8rem;
        display: flex;
        align-items: top;
        text-align: center;
        justify-content:flex-start;  
        margin-top: 4%;     
        max-width: 100vw;
    }
      .titulop {
        font-size: 2rem;
        margin-top: 25px;
        margin-left: 0;
        font-style: normal;
        line-height: 120%;
        display: flex;
        align-items: top;
        justify-content: center;
        max-width: 100vw;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        color: #000000;
        height: auto;
        margin-bottom: 0;
    }
    .landingcontainer {
        grid-template-areas: "landing" "button";
        height: 9em;
    }
    .rowmid .landingcontainer button {
        grid-area: button;
        padding: 10px 20px;
        background-color: #DF711B;
        color: #403d39;
        border: none;
        border-radius: 5px;
        font-size: 1.1rem;
        cursor: pointer;
        width: 50%;
        margin-left: 0;
        margin-right: 0;
        font-family: monospace;
        transition: background-color 0.3s ease, transform 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60%;
        margin: 0;

      }
    .footerelements {
        grid-area: footer;
        width: 100vw;
        background-color: #33333316;
        color: #fff;
        text-align: center;
        padding: 10px 0;
        bottom: 0;
        position: fixed;
    }      
    .cuerpo {
        margin: 0;
      }

    .additional-features {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100vw;
    }
    .testimonioti2 {
        display: flex;
        justify-content: right;
        margin-right: 0%;
        width: 100vw;
    }
    .testimonials {
    max-width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows:repeat(4,1fr);
    grid-template-areas:
    "testimonial1" 
    "testimonial2" 
    "testimonial3"
    "testimonial4";
    grid-gap:10px;

    }
    .testimonials .testimonial1, .testimonials .testimonial2, .testimonials .testimonial3, .testimonials .testimonial4 {
        padding: 20px;
        border-radius: 10px;
        height: auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        font-size: 0.6em;
        width: auto;
    }   
    .note-live-container {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(3,100vw);
        gap: 10px;
        margin: auto;
        margin-top: 12%;
      }
      .note-live-container .note-live-card.large, .note-live-container .note-live-card.medium {
      display: none;
      }
  
}